.affiliationbox{

    text-align: center;
    display: flex;
    justify-content: space-around;

}

.affiliation{

    width: 30%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 6px;

}

.affiliationlink{
    color: white;
    padding: 5px;
    background-color: rgb(0, 124, 240);
    border-radius: 10px;
    text-decoration: none;
}

.affiliationlink:hover{
    background-color: rgb(30, 49, 216);
    border: 1px solid black;
    color: yellow;
}

@media screen and (max-width:575px){

    .affiliationlink{
        font-size: 13px;
        padding: 5px;
        border-radius: 10px;
    }

    .affiliationbox{
        padding: 10px;
        
    }

}

